@model WebApplication2.Models.ViewModels.ItemProductViewModel.DeleteItemProductViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>
<div>
	  
</div>
</body>
</html>