@model WebApplication2.Models.ViewModels.ItemProductViewModel.EditItemProductViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Add or Delete Item to product</title>
</head>
<body>
<div>
	  
</div>
</body>
</html>